@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("./fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px; /* 1rem = 16px */
  height: 100%;
}

:root {
  --accent-color: #b59f5b;
  --lighter-accent-color: #e1d9bd;
  --accent-text-color: white;
  --main-text-color: #000000;
  --input-background-color: #f4f7f6;

  --base-font-size: 0.9375rem; /* 15px */
  --font-regular: 0.875rem; /* 14px */
  --font-normal: 0.8125rem; /* 13px */
  --font-small: 0.75rem; /* 12px */
  --font-medium: 1.25rem; /* 20px */
  --font-large: 2.8125rem; /* 45px */
}

body {
  font-family: "OpenSans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  text-transform: uppercase;
  font-size: var(--font-regular);
  font-weight: 700;
}

button:hover {
  background-color: var(--lighter-accent-color);
}

/* ///////////////////////////////////////////////////Header/////////////////////////////////////////////////// */

.header {
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  width: 100%;
  position: relative;
  color: var(--accent-text-color);
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 27px 20px 0 20px;
  align-items: center;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-mobile {
  display: none;
}

.logo {
  width: 179px;
}

.nav-hamburger {
  display: none;
}

.nav-list {
  gap: 34px;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-normal);
}

.nav-link {
  text-decoration: none;
  color: var(--accent-text-color);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--accent-text-color);
}

.header-title {
  font-size: var(--font-large);
  text-align: center;
  text-transform: uppercase;
  margin-top: 126px;
  margin-bottom: 0;
  padding-bottom: 146px;
  line-height: 1.667;
}

/* ///////////////////////////////////////////////////Trends/////////////////////////////////////////////////// */

.trends {
  margin-top: 57px;
  display: flex;
  flex-direction: column;
}

.trends .trends-title {
  font-size: var(--font-medium);
}

.trends-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25%;
}

.trend {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  position: relative;
  z-index: 0;
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px 18px;
  box-sizing: border-box;
}

.first-trend {
  background-image: url(../images/trend1.jpg);
}

.second-trend {
  background-image: url(../images/trend2.jpg);
}

.third-trend {
  background-image: url(../images/trend3.jpg);
}

.fourth-trend {
  background-image: url(../images/trend4.jpg);
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-details {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  padding-left: 35px;
  padding: 40px 24px 35px 36px;
  box-sizing: border-box;
  border: 3px solid rgb(181, 159, 91);
}

.trend-details-title {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  color: white;
}

.trend-details-link {
  color: var(--accent-text-color);
  font-size: var(--font-medium);
  text-transform: uppercase;
}

/* ///////////////////////////////////////////////////Articles/////////////////////////////////////////////////// */

.main {
  display: flex;
  justify-content: space-between;
  padding: 0 14px 0 14px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.articles {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article:not(:last-child) {
  margin-bottom: 58px;
}

.article-img {
  margin-right: 30px;
}

.categories {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: inline-block;
  font-size: var(--font-regular);
  color: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 18px;
  position: relative;
}

.category:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 2px;
  background-color: var(--lighter-accent-color);
}

.article-info-title {
  font-size: var(--font-medium);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 34px;
}

.article-info-title a:hover {
  color: var(--accent-color);
}

.article-date {
  color: #888888;
  font-size: var(--font-small);
  margin-right: 15px;
}

.author {
  font-size: var(--font-small);
  font-weight: 700;
}

.article-info-text {
  font-size: var(--base-font-size);
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 0;
}

.article-info-text--second {
  margin-top: 20px;
}

/* ///////////////////////////////////////////////////Aside/////////////////////////////////////////////////// */

.aside {
  display: flex;
  flex-direction: column;
  width: 272px;
  margin-top: 64px;
}

.title {
  font-size: var(--font-regular);
  text-transform: uppercase;
  margin-bottom: 45px;
  margin-top: 0;
  position: relative;
  text-align: center;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
  width: 66px;
  height: 2px;
  background-color: var(--lighter-accent-color);
}

.widget {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.widget-img {
  margin-right: 20px;
  width: 70px;
}

.widget-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.date {
  display: inline-block;
  font-size: var(--font-small);
  opacity: 0.54;
  margin-right: 14px;
}

.widget-title {
  font-size: var(--font-regular);
  text-transform: uppercase;
  margin: 0;
}

.widget-title a:hover {
  color: var(--accent-color);
}

.search {
  display: flex;
  margin-top: 60px;
  border-bottom: 1px solid var(--lighter-accent-color);
}

.search-label {
  width: 100%;
}

.search-input {
  box-sizing: border-box;
  background-color: var(--input-background-color);
  width: 100%;
  height: 48px;
  border: none;
  padding: 0 0 0 18px;
}

.search-input::placeholder {
  font-size: var(--font-normal);
  opacity: 0.54;
}

.search-button {
  width: 49px;
  height: 48px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.search-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.newsletter {
  margin-top: 60px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-input {
  box-sizing: border-box;
  background-color: var(--input-background-color);
  width: 272px;
  height: 48px;
  border: none;
  padding: 0 0 0 18px;
  margin-bottom: 17px;
}

.newsletter-input::placeholder {
  font-size: var(--font-normal);
  opacity: 0.54;
}

.newsletter-button {
  padding: 18px;
  width: 272px;
  height: 48px;
}

.newsletter-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.tags {
  margin-top: 60px;
}

.tags-wrapper {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.tag {
  border: 3px solid #eeeeee;
  box-sizing: border-box;
  font-size: var(--font-small);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-right: 6px;
}

.tag a {
  display: block;
  padding: 7px 13px;
  padding-bottom: 7px;
}

.tag:hover {
  border: 3px solid var(--lighter-accent-color);
}

.topics {
  margin-top: 60px;
}

.topics-list {
  padding: 0;
}

.topic {
  font-size: var(--font-regular);
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 12px;
}

.topic:hover {
  border-bottom-color: var(--lighter-accent-color);
}

.number-of-topics {
  font-size: var(--font-small);
  color: var(--accent-color);
  vertical-align: super;
}

/*////////////////////////////////////////////// Popup///////////////////////////////////////////////////// */

.form-open-button {
  padding: 18px;
  width: 272px;
  height: 48px;
  margin-top: 20px;
}

.popup-form {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.popup-form.active {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--accent-text-color);
  width: 390px;
  padding: 54px 30px 54px 30px;
  font-size: var(--font-normal);
  position: relative;
}

.form-close-button {
  position: absolute;
  top: -27px;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.form .form-title {
  font-size: var(--font-medium);
}

.frequency {
  display: flex;
  flex-direction: column;
}

.frequency-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: 10px 16px;
  margin-top: 8px;
  padding: 18px;
  border: none;
  background-color: var(--input-background-color);
  color: rgba(0, 0, 0, 0.54);
}

.frequency-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.radio {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}

.radio-options {
  margin-top: 8px;
}

.radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.radio-input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio-input:checked ~ .radio-text::before {
  background-image: url(../svg/form-circle.svg);
}

.form-textarea {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
}

.textarea {
  font-family: inherit;
  box-sizing: border-box;
  height: 130px;
  resize: none;
  margin-top: 8px;
  padding: 18px;
  border: none;
  background-color: var(--input-background-color);
  color: rgba(0, 0, 0, 0.54);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-textarea-button {
  margin-top: 27px;
  height: 49px;
}

/* ///////////////////////////////////////////////////Our products/////////////////////////////////////////////////// */

.our-products {
  display: flex;
  flex-direction: column;
  padding: 0 14px 0 14px;
  max-width: 1200px;
  margin: 64px auto;
  margin-bottom: 64px;
  margin-bottom: 0;
}

.our-products .our-products-title {
  font-size: var(--font-medium);
}

.our-products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-content: space-between;
}

.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-description-title {
  font-size: var(--font-medium);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.product-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 346px;
  padding: 24px;
  box-sizing: border-box;
  border: 3px solid rgb(181, 159, 91);
  margin-top: -24px;
  background-color: transparent;
}

.product-description-info {
  font-size: var(--base-font-size);
  margin-top: 9px;
  margin-bottom: 24px;
}

.product-description-link {
  color: rgb(181, 159, 91);
}

.product-desctiption-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  flex-direction: column;
}

.price-previous {
  font-size: var(--font-regular);
  text-decoration: line-through;
  display: block;
  font-weight: 700;
}

.price-current {
  font-size: var(--font-medium);
  display: block;
  font-weight: 700;
}

.product-desctiption-shop--btn {
  width: 140px;
  height: 48px;
}

/* ///////////////////////////////////////////////////Footer/////////////////////////////////////////////////// */

footer {
  display: flex;
  flex-direction: column;
  padding: 0 14px 0 14px;
  max-width: 1200px;
  width: 100%;
  /* margin: 0 auto;
  margin-top: 64px; */
  margin-top: auto;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--input-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 73px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 0;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon-dribble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.footer-copyrights {
  margin-bottom: 40px;
  text-align: center;
}

.copyrights {
  font-size: var(--font-small);
  color: #999999;
  font-weight: 700;
}

/* ////////////////////////////////////////Tablet styles//////////////////////////////////////// */

@media (min-width: 641px) and (max-width: 1200px) {
  /* ///////////////////////////////////////////////////Header/////////////////////////////////////////////////// */
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    height: 390px;
  }

  .header-section {
    max-width: 697px;
    padding: 40px 34px 0 34px;
  }

  .logo {
    width: 157px;
  }

  .nav-hamburger {
    display: block;
    width: 4%;
    height: 4%;
    cursor: pointer;
  }

  .nav-list {
    display: none;
  }

  .header-title {
    font-size: 2.1rem;
    margin-top: 100px;
    padding-bottom: 0;
  }

  /* ///////////////////////////////////////////////////Trends tablet/////////////////////////////////////////////////// */

  .trends {
    margin-top: 45px;
  }

  .title {
    margin-bottom: 30px;
  }

  .trends .trends-title {
    font-size: 1.125rem;
  }

  .trend {
    min-height: 245px;
  }

  .trend-details {
    padding: 50px 24px 35px 20px;
  }

  .trend-details-link {
    font-size: 1.06rem;
  }

  /* ///////////////////////////////////////////////////Articles tablet/////////////////////////////////////////////////// */

  .main {
    max-width: 697px;
  }

  .articles {
    margin-top: 49px;
    margin-right: 34px;
    width: 51%;
  }

  .article {
    flex-direction: column;
  }

  .article:not(:last-child) {
    margin-bottom: 40px;
  }

  .article-img {
    margin-right: 0;
    width: 311px;
    margin-bottom: 13px;
  }

  .article-info-title {
    font-size: 17px;
    margin-bottom: 34px;
  }

  .article-info-text {
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 0;
    border-bottom: 3px solid var(--input-background-color);
    padding-bottom: 18px;
  }

  .article-info-text--first {
    border: none;
    padding-bottom: 0;
  }

  .articles .article:last-child .article-info-text {
    border: none;
  }

  .article-info-text--second {
    margin-top: 20px;
  }

  /* ///////////////////////////////////////////////////Our products tablet/////////////////////////////////////////////////// */

  .our-products {
    margin-top: 49px;
    max-width: 697px;
  }

  .our-products .our-products-title {
    font-size: 1.125rem;
    margin-bottom: 42px;
  }

  .our-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .product {
    max-width: 335px;
  }

  .product-description-title {
    font-size: 1.0625rem;
  }

  .product-description-info {
    font-size: 0.9375rem;
  }

  /* ///////////////////////////////////////////////////Footer tablet/////////////////////////////////////////////////// */

  footer {
    margin-top: 49px;
    width: 100%;
  }

  .footer-social-media {
    margin-bottom: 50px;
  }
}

@media (min-width: 641px) and (orientation: portrait) and (max-width: 1200px) {
  .trends-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0.5%;
  }
}

@media (min-width: 641px) and (orientation: landscape) and (max-width: 1200px) {
  .trends-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* ////////////////////////////////////////Mobile styles//////////////////////////////////////// */
@media (max-width: 640px) {
  /* ///////////////////////////////////////////////////Header mobile/////////////////////////////////////////////////// */

  body {
    width: 100%;
  }
  .header {
    background-image: url("../images/banner-mobile.jpg");
    background-position: 100%;
    height: 638px;
  }

  .header-section {
    padding: 30px 14px 0 14px;
  }

  .nav-list {
    display: none;
  }

  .nav-hamburger {
    display: block;
    width: 5%;
    height: 5%;
    cursor: pointer;
  }

  .header-section-title-wrapper {
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 170px;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .header-title {
    font-size: 1.625rem;
    margin-top: 44px;
    padding-bottom: 0;
  }

  /* ///////////////////////////////////////////////////Trends mobile/////////////////////////////////////////////////// */

  .trends {
    margin-top: 45px;
  }

  .title {
    margin-bottom: 36px;
  }

  .trends .trends-title {
    font-size: 1rem;
  }

  .trend {
    min-height: 245px;
  }

  .trend-details {
    padding: 50px 0 35px 20px;
  }

  .trend-details-link {
    font-size: 1.06rem;
  }

  /* ///////////////////////////////////////////////////Articles mobile/////////////////////////////////////////////////// */

  .main {
    flex-direction: column;
  }

  .articles {
    margin-top: 44px;
    margin-right: 0;
    width: 100%;
  }

  .article {
    flex-direction: column;
  }

  .article:not(:last-child) {
    margin-bottom: 60px;
  }

  .article-img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 16px;
  }

  .article-info-title {
    font-size: 1rem;
    margin-bottom: 24px;
  }

  .article-info-text {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 0;
    border-bottom: 3px solid var(--input-background-color);
    padding-bottom: 18px;
  }

  .article-info-text--first {
    border: none;
    padding-bottom: 0;
  }

  .articles .article:last-child .article-info-text {
    border: none;
  }

  .article-info-text--second {
    margin-top: 20px;
  }

  /* ///////////////////////////////////////////////////Aside mobile/////////////////////////////////////////////////// */

  .aside {
    width: 100%;
    margin-top: 44px;
  }

  .title {
    font-size: 1rem;
  }

  .search {
    margin-top: 44px;
    border-bottom: none;
    width: 100%;
  }

  .search-label {
    width: 100%;
  }

  .search-input {
    width: 100%;
    border: none;
    padding: 0 0 0 18px;
  }

  .newsletter {
    margin-top: 44px;
  }

  .newsletter-input {
    width: 100%;
  }

  .newsletter-button {
    width: 100%;
  }

  .tags {
    margin-top: 44px;
  }

  .topics {
    margin-top: 44px;
  }

  /*////////////////////////////////////////////// Popup mobile///////////////////////////////////////////////////// */

  .form-open-button {
    width: 100%;
  }

  .form {
    width: 330px;
  }

  /* ///////////////////////////////////////////////////Our products mobile/////////////////////////////////////////////////// */

  .our-products {
    margin-top: 49px;
  }

  .our-products .our-products-title {
    font-size: 1.125rem;
  }

  .our-products-wrapper {
   grid-template-columns: repeat(1, 1fr);
  }

  .product {
    width: 100%;
  }

  .product-description-title {
    font-size: 1.0625rem;
  }

  .product-description-info {
    font-size: 0.9375rem;
  }

  /* ///////////////////////////////////////////////////Footer mobile/////////////////////////////////////////////////// */

  footer {
    margin-top: 42px;
    width: 100%;
  }

  .footer-social-media {
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trends-wrapper {
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
